.container {
    margin-top: 10px;
}
.header {
    margin-bottom: 20px;
    text-align: center;
}
.top-flash {
    margin-bottom: 20px;
}
.uuid {
    margin-top: 0;
    padding-top: 0;
}
.top {
    padding-top: 0;
    margin-top: 0;
}
a[disabled] {
    pointer-events: none;
    color: gray;
}
textarea {
    margin-bottom: 10px;
    width: 300px;
    height: 150px;
}
